<package-def>
    <module name="МенеджерРесурсовЛокализации" file="src/Модули/МенеджерРесурсовЛокализации.os"/>
    <module name="РегиональныеНастройки" file="src/Модули/РегиональныеНастройки.os"/>
    <module name="ЛокализацияПриложения" file="src/Модули/ЛокализацияПриложения.os"/>
    <class name="ПакетРесурсовЛокализации" file="src/Классы/ПакетРесурсовЛокализации.os"/>
    <class name="ГруппаПакетовРесурсовЛокализации" file="src/Классы/ГруппаПакетовРесурсовЛокализации.os"/>
    <class name="ЧтениеФайлаProperties" file="src/Классы/ЧтениеФайлаProperties.os"/>
</package-def>