<package-def>
    <module name="МенеджерРесурсовЛокализации" file="src/Модули/МенеджерРесурсовЛокализации.os"/>
    <module name="Мультиязычность" file="src/Модули/Мультиязычность.os"/>
    <class name="ПакетРесурсовЛокализации" file="src/Классы/ПакетРесурсовЛокализации.os"/>
    <class name="ГруппаПакетовРесурсовЛокализации" file="src/Классы/ГруппаПакетовРесурсовЛокализации.os"/>
    <class name="ЧтениеФайлаProperties" file="src/Классы/ЧтениеФайлаProperties.os"/>
</package-def>